
<nav>
    <div class="right-head"><h3>Coursero The Learnig Platform </h3></div>
    <div class="navbar">
        <a href="">Home</a>
        <a routerLink="corporate">Services</a>
        <a routerLink="bussiness">Areas Of Services</a>
        <a routerLink="/">Contact Us</a>
    </div>
    <div class="contact">
        <p>818-555-6666</p>
    </div>
</nav>
<div class="mid-sec">
    <h1>Private Events</h1>
    <p>Coursero is the impression & the final touch of any event</p>
    <div class="btn-r">
        <button class="rcall">Request a Call</button>
    </div>
</div>

<div class="container-mid">
    <h3 class="mid-up">Special Event valet Parking Service in Southern California, CA</h3>
    <p class="mid-tx"> we are the best solution for</p><span class="mid-txt-1">your event parking </span>
    
    <div class="under-txt"><h4>Valet Parking is the first impression & the final touch of any event.
        Call us today for a FREE estimate for your private event or party.
        brWe’d love to discuss all the details with you and answer any questions you may have.
        We can provide you with the best valet service at competitive prices.</h4></div>
</div>
<section class="services-con">
    <div class="our-services">
        <div class="service-1"></div>
        <div class="service-2">
            <div class="services-section">
                <h5>Our Services</h5>
                <h2>Private Events</h2>
                <p class="p-sect">Valet parking for your special event is the mark of a gracious host, but more often than not is a necessity. Valet parking can:</p>
                <li>Wedding Valet Parking</li>
                <li>Private Party Valet Parking</li>
                <li>Private Dinner Valet Parking</li>
                <li>Fundraiser Valet Parking</li>
                <li>Other Special Events</li>
                <p class="p-sect">Our parking attendants receive numerous compliments for their appearance, friendly service and professionalism. Please feel free to <b>call us</b> about your event.</p>
            </div>
        </div>
    </div>
    <div class="featured-clientele">
        <div class="features-sec">
            <h6 class="heading">Featured Clientele</h6>
        </div>
        <div class="companies-logo">
            <div class="companies-se">
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
            </div>
            <div class="companies-se">
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
            </div>
            <div class="companies-se">
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
                <div class="company"><a href="h"><div className="small-icons"><img src="../../assets/tree.png" alt="" /></div></a></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="right-info-form">
        <div class="right-side-sec">
            <div class="inner-container">
                <div class="right-side-heading">
                  <h4 class="book"> Book A call</h4>
                  <h2 class="free">Get a Free Quote</h2>
                  <p class="pi">Please Fill out the form below to receive your complimentary quote</p>
                </div>
                <hr class="line-f"> 
                <div class="info-form">
                  <form action=".php" method="post">

                    <div class="col-line">
                        <div class="col-1">
                          <label for="name">Full Name*</label><br>
                          <input type="text"placeholder=" Enter Your Full Name" class="fname" id="fname" required>
                        </div>
                        <div class="col-1">
                          <label for="email">Email Address*</label><br>
                          <input type="email"placeholder=" Enter Your Email Address" class="lname" id="lname" required>
                        </div>
                        <div class="col-1">
                          <label for="number">Phone Number*</label><br>
                          <input type="no"placeholder=" Enter Your Phone Number" class="lnumber" id="lnumber" required>
                        </div>
                  </div>

                  <div class="col-line">
                        <div class="col-1">
                          <label for="text">Event Address*</label><br>
                          <input type="text"placeholder=" Enter Your Event Address" class="lnumber" id="lnumber" required>
                        </div>
                        <div class="col-1">
                          <label for="no">Event Zip Code*</label><br>
                          <input type="text"placeholder=" Enter Your Zip Code" class="fno" id="fno" required>
                        </div>
                        <div class="col-1">
                          <label for="name">Type Of Event*</label><br>
                        <input type="text"placeholder=" Enter Your Event Type" class="Ename" id="Ename" required>
                        </div>
                  </div>

                  <div class="col-line">
                        <div class="col-1">
                          <label for="date">Event Date*</label><br>
                          <input type="date"placeholder=" Enter Your Event Date" class="dname" id="dname" required>
                        </div>
                        <div class="col-1">
                          <label for="time">Event Start Time*</label><br>
                          <input type="time"placeholder=" Enter Your Event Start Time" class="Estart" id="Estart" required>
                        </div>
                        <div class="col-1">
                          <label for="time">Event End Time*</label><br>
                          <input type="time"placeholder=" Enter Your Event End Time" class="Eend" id="Eend" required>
                        </div>
                  </div>

                  <div class="col-line">
                        <div class="col-1">
                          <label for="no">Number of  Cars(approx)*</label><br>
                          <input type="number"placeholder=" Enter Your Number of Cars" class="cno" id="cno" required>
                        </div>
                        <div class="col-1">
                          <label for="number">Number of Guests(approx)*</label><br>
                          <input type="number"placeholder=" Enter Number of Guests" class="Gno" id="Gno" required>
                        </div>
                        <div class="col-1">
                          <label for="text">How did You Here About Us*</label><br>
                          <input type="text" class="Etext" id="Etext" required>
                        </div>
                  </div>

                  <div class="col-1-1">
                    <label for="text">Enter Your Message*</label><br>
                    <textarea type="text" placeholder="Enter Your Messages*" class="textaream" id="mtext" cols="169" rows="10" style="resize:horizontal; border-radius: 10px;"></textarea>
                  </div>
                  
                    <div class="btn-rs">
                       <br> <br>
                       <button class=" req-calls">Request For Call</button>
                    </div>

                  </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="footer-head">
        <div class="footer-content">
          <div class="f-head"> 
            <div class="f-head-up">
              Auto Palladium Services, Inc. <br>
              The Highest Quality Valet Parking Service
              In Southern California</div>
            <hr class="line">
            <div class="f-head-up">
            (818) 555-6666 <br>
            TheLearningPatform&#64;Coursero.com</div>
          </div>
    </div>
    </div>
  </div>
