
<div id="your-scroll-container" data-scroll-container>
  <div data-scroll-section>                                       <!-- Navbar section -->
<nav class="flex md:hidden">
    <div class="right-head"><h3 class="heading"> <a href="">Coursero The Learnig Platform</a> </h3> </div>
    <div class="nav-col">
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#our-services">Services</a>
        <a href="#services-area">Areas Of Services</a>
        <a href="/contactus">Contact Us</a>
      </div>
    </div>
    <div class="contact">
        <p class="contact-no">818-555-6666</p>
    </div>
   
</nav>
                                            <!-- Navbar below-component -->
<div class="mid-sec">
    <div class="mid-2-sec">
        <div class="mid-3-sec">
        <div class="left-info-content">
            <p class="left-heading">Supervised Insured Dependable</p>
            <hr class="line-f">
            <div class="content-box">
                <p class="content-box-1 ">Got Questions?</p>
                <p class="content-box-1">(818)555-6666</p>
                <p class="content-box-1">Email us:</p>
                <p class="content-box-1">rohan&#64;coursero.com</p>
            </div>
        </div>
                                                       <!-- <form starts here--> 
        <div class="right-info-form">
            <div class="right-side-sec">
                <div class="inner-container">
                    <div class="right-side-heading">Schedule a Call for Your Next Event!</div>
                    <hr class="line-f"> 
                    <div class="info-form">
                      <form action=".php" method="post">

                        <div class="col-line">
                        <div class="col-1">
                          <label for="name">First Name*</label>
                          <input type="text"placeholder=" Enter Your First Name" class="fname" id="fname" required>
                        </div>
                        <div class="col-1">
                          <label for="name">Last Name*</label>
                          <input type="text"placeholder=" Enter Your Last Name" class="lname" id="lname" required>
                        </div>
                      </div>

                      <div class="col-line">
                        <div class="col-1">
                          <label for="no">Zip Code*</label>
                          <input type="text"placeholder=" Enter Your Zip Code" class="fno" id="fno" required>
                        </div>
                        <div class="col-1">
                          <label for="number">Phone Number*</label>
                          <input type="no"placeholder=" Enter Your Number" class="lnumber" id="lnumber" required>
                        </div>

                      </div>


                      <div class="col-1-1">
                        <label for="name">Event Date*</label>
                        <input type="date"placeholder=" Enter Your Event Date" class="dname" id="dname" required>
                      </div>
                      <div class="col-1-1">
                        <label for="name">Type Of Event*</label>
                        <input type="text"placeholder=" Enter Your Event" class="Ename" id="Ename" required>
                      </div>
                      
                        <div class="row-line">
                          <div class="radio">
                            <p class="r-line">Best Time To Call You:</p>
                              <input type="radio" id="html" name="fav_language" value="HTML">
                              <label for="html">ASAP</label>
                              <input type="radio" id="css" name="fav_language" value="CSS">
                              <label for="css">Today</label>
                              <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                            <label for="javascript">Tomorrow</label>
                          </div>
                        </div>
                        <div class="btn-r">
                           <br> <br>
                           <button class=" req-call">Request For Call</button>
                           
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

                                       <!-- features-clientele starts here  -->

<div class="featured-clientele-section">
    <div class="featured-heading">
        <div class="heading-sec-f">
            <h2 class="f-head-f">Featureed Clientele</h2>
        </div>
        <div class="img-column">
            <div class="image-icons">
                <img src="../../assets/tree.png" alt="">
                <img src="../../assets/tree.png" alt="">
                <img src="../../assets/tree.png" alt="">
                <img src="../../assets/tree.png" alt="">
                <img src="../../assets/tree.png" alt="">
                <img src="../../assets/tree.png" alt="">
               
            </div>
        </div>
    </div>
</div>
<section id="services-area">
    <div class="services-container">
        <div class="service-section">
            <div class="section-head">
                <p class="ser">Our Services</p>
            </div>
            <div class="content-sec">
                <p class="content-line"> we are the Best solution for <br><span class="center-line">your event parking</span></p>
            </div>
            <div class="content-dis">
                <p class="dis-line">Valet Parking is the first impression & the final touch of any event. Call us today for a FREE estimate for your private event or party. We’d love to discuss all the details with you and answer any questions you may have. We can provide you with the best valet service at competitive prices.</p>
            </div>
        </div>

                                                     <!-- cards section starts here -->
                <div class="articles">
                    <article>
                      <div class="article-wrapper">
                        <figure>
                          <img src="https://picsum.photos/id/1011/800/450" alt="" />
                        </figure>
                        <div class="article-body">
                          <h2> <a routerLink="privatec"></a>Private Events</h2>
                          <div class="event-content">
                            <li>Wedding Valet Parking</li>
                            <li>Private Party Valet Parking</li>
                            <li> Private Dinner Valet Parking</li>
                            <li>Fundraiser Valet Parking</li>
                            <li>Other Special Events</li>
                          </div>
                          <a href="/privatec" class="read-more">
                            Read more <span class="sr-only">about this is some title</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </article>
                    <article>
                  
                      <div class="article-wrapper">
                        <figure>
                          <img src="https://picsum.photos/id/1005/800/450" alt="" />
                        </figure>
                        <div class="article-body">
                          <h2>Corporate Events</h2>
                          <div class="event-content">
                            <li>    Banquet Valet Parking</li>
                            <li>Gala Valet Parking</li>
                            <li> Seminar Valet Parking</li>
                           
                          </div>
                          <a href="corporate" class="read-more">
                            Read more <span class="sr-only">about this is some title</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </article>
                    <article>
                  
                      <div class="article-wrapper">
                        <figure>
                          <img src="https://picsum.photos/id/103/800/450" alt="" />
                        </figure>
                        <div class="article-body">
                          <h2>Businesses Events</h2>
                          <div class="event-content">
                            <li>Parking Lot Attendants</li>
                            <li>Country Clubs,Hotel Parking Management</li>
                            <li>Concert & Festival Parking Management</li>
                            <li>Restaurants</li>
                          </div>
                          <a href="bussiness" class="read-more">
                            Read more <span class="sr-only">about this is some title</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </article>
                </div>
            </div>
</section>

                            <!-- services sections starts here -->

<section class="services-con" id="our-services">
    <div class="our-services">
        <div class="service-1"></div>
        <div class="service-2">
            <div class="services-section">
                <h5>Areas Of Services</h5><hr>
            
                <h2>Special event valet parking service in Southern California, CA</h2>
                <p class="p-sect">We provide our service in Los Angeles, Orange county, San diego,etc. Call us today for a FREE estimate for your private event or party. We’d love to discuss all the details with you and answer any questions you may have. We can provide you with the best valet service at competitive prices.:</p>
              
        <div class="submit-btn">
            <button class="req">Request a Call</button>
        </div>
            </div>
        </div>
    </div>
</section>

                    <!-- testimonials section -->
<div class="testimonial">
  <div class="testi-inner">
  <!-- <img src="../../assets/images.png" alt=""> -->
    <div class="right-testi">
      <h5 class="testi-head">What People Have To Say</h5>
      <div class="profile">
      <div class="pic-con">
        <img class="icon" src="../../assets/iconpic.png" alt=""><span>Alan F</span>
      </div>
      <div class="los">Los Angeles,CA</div>
    </div>
      <div class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eligendi perferendis voluptate quia, libero error aliquam amet perspiciatis numquam quos et vel tenetur pariatur, minima fugit ipsam labore est alias minus. Voluptate dicta tempore, libero quis quod consectetur laudantium eos, veritatis assumenda asperiores iure nam beatae quibusdam nostrum deserunt animi.
      </div>
    </div>
  </div>
</div>

                                              <!-- footer section -->
<div class="footer">
  <div class="footer-head">
      <div class="footer-content">
        <div class="f-head"> 
          <div class="f-head-up">
            Auto Palladium Services, Inc. <br>
            The Highest Quality Valet Parking Service
            In Southern California</div>
          <hr class="line">
          <div class="f-head-up">
          (818) 555-6666 <br>
          TheLearningPatform&#64;Coursero.com</div>
        </div>
  </div>
  </div>
</div>


    <!-- Your scrollable content here -->
  </div>
</div>