.heading{
    font-size: 30px;
    font-weight: 500;
    color: white;
    /* border: 1px solid; */
}
nav{
    width: 100%;
    /* border: 1px solid red; */
    /* height: 80px; */
    /* flex-wrap: nowrap; */
    display: flex;
    background: rgba(85, 145, 201, 0.886);
    justify-content: center;
    align-items: center;
    gap: 8.5rem;
}
nav a{
    text-decoration: none;
    color: white
}
.navbar{
    display: flex;
    /* border: 1px solid red; */
    gap: 50px;



}

.contact{
    margin-top: -24px;
    /* border: 2px solid red; */
    color: white;
    padding: 11px;
    /* border-radius: 20px; */
    width: 150px;
    font-weight: 700;
    border-radius:  0 0 10px 10px;
    background-color: orange;
}
.contact-no{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
button{
    padding: 13px;
    border-radius: 5px;
    /* border: 1px solid red; */
    border: none;
    background-color: orange;
}
.mid-sec{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(206, 202, 202); */
    background-image: url('../../assets/Lineargradient2-660x322.png');
    background-repeat: no-repeat;
    background-size: cover;

 
}
.mid-2-sec{
    /* border: 1px solid green; */
    width: 100%;
    /* margin: 0 305 0 30%; */
    /* height: 300px; */
}
.mid-3-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* background: #000; */
    /* margin: 10px; */
    /* height: 300px; */
    /* border: 2px solid blue; */
}
.left-info-content{
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    margin-left: 20%;
    text-align: start;
}
.left-heading{
    
    color: white;
    font-weight: 600;
    font-size: 30px;
}
.content-box-1{
    color: white;

}
/* form css starts here */
.right-info-form{
    margin: 0 6% 0 6%;
}
.right-side-sec{
    margin-top: 50px;
margin-bottom: 60px;
}
.inner-container{
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin:  0 18% 0 18%;
}
.right-side-heading{
    /* border:1px solid pink; */
    
    /* margin: 5px; */
    /* color: orange; */
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
    justify-content: center;
    text-align:center;
}
.inner-container:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(10px);
    transition: 0.8s ease-in-out;
}
.line-f{
    border: 1px solid orange;
    /* color: orange; */
    line-height: 5px;
}
.info-form{
    margin:  0 10% 0 10%;
    /* margin: 8px; */
    /* border: 2px solid red; */
}
.col-1{
    /* margin: 5px; */
    margin:  0 1% 0 1%;
    width: 100%;

}
.col-1 label{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.col-1 input{
    background-color: rgb(194, 197, 201);
    width: 100%;
    padding: 10px;
    margin: 2px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
}
input[type=text]{
    box-sizing: border-box;
    border: 3px solid red;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus input[type=date]:focus{
    /* background-color: #ddd; */
    /* outline: lightblue; */
    border: 3px solid lightblue;
  }
  .col-line{
    display: flex;
}
.col-line-1{
    display: flex;
}
.btn-r{
    margin-bottom: 10px;
    margin-right: 20px;
}
.req-call{
    border-radius: 18px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
  }
  .req-call:hover{
    cursor: pointer;
    background-color: lightgreen;
    transition: 0.8s ease-out;
    color: black;
    font-weight: 600;
    
}
.r-line{
    justify-content: center;
    align-items: center;
    /* text-align: start; */
    font-weight: 600;
    
    margin-left: 14px;
}
.col-1-1 label{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.col-1-1{
    /* border: 1px solid green; */
    /* margin: 5px; */
    margin:  0 1% 0 1%;
    /* width: 100%; */
    
}
.col-1-1 input{
    background-color: rgb(194, 197, 201);
    width: 100%;
    padding: 10px;
    margin: 2px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

}


.featured-clientele-section{
    margin-bottom: 50px;
}

.featured-heading{
    width: 100%;
    /* margin-top: 50px; */

}
.heading-sec-f{
    color: black;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.f-head-f{
    color:rgb(133, 147, 160);
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.img-column{
    width: 100%;
}
.image-icons{
    /* border: 2px solid black; */
    display: flex;
    /* margin: 0 20% 0 20%; */
    justify-content: space-evenly;
    align-items: center;

}
.image-icons img{
    width: 150px;
}
.services-container{ 
    /* border:2px solid black; */
    margin-top: 50px;
}
.service-section{
    margin: 0 22% 0 22%;
    height: 99vh;
    background-color:rgb(248, 241, 232);
}
.section-head{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.ser{
    /* margin-top: -10px; */
    font-weight: 600;
}
.content-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-line{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.center-line{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
.content-dis{
    margin: 0 30% 0 30%;
    /* border: 2px solid black; */
}
.dis-line{
    justify-content:center ;
    align-items: center;
}

/* cards-css */
/* .cards-main{
    border: 2px solid red;
} */
/* .cards-body{
    margin: 10px;
    position: relative;
    border: 2px solid black;
} */

article {
    /* border: 2px solid red; */
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: none; */
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 25px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 48px 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    margin-top: -28%;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 375px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
        justify-content: center;
        align-items: center;
        text-align: center;
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.services-con{
    margin: 10vw 7% 0 7%;
}
  .our-services{
    margin: 0 40% 0 0;
    display: flex;

    flex-wrap: wrap;
}
.service-1{
    height: 60vh;
    width: 200px;
    flex: 60%;
    background: rgb(211, 211, 211);
}
.service-2{
    flex:40%;
}
.services-section{
    align-items: center;
    justify-content: center;
    margin: 30% 0 0 5%;
}
h5,h2{
    margin-left: 4%;
}
h2{
    font-size: 36px;
}

.p-sect{
    margin-left: 4%;
     color: black;
}
.submit-btn{
    margin-left: 15px;
    cursor: pointer;
}
.req{
    cursor: pointer;
}
.req:hover{
    cursor: pointer;
     background-color: lightgreen;
     transition: 0.5s;
}

.testimonial{
    margin: 50px;


}
.testi-inner{
    display: flex;
    margin: 9vw 20% 0 20%;

}
.right-testi{
   
    background-image: url('../../assets/images.png');
    background-repeat: no-repeat;
    background-size: 380px;
}
.testi-head{
    color: rgb(136, 145, 155);
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: -50px;
    padding-bottom: 30px;
    font-size: 25px;
    margin-top: -2px;

}
.testi-head h5{
    transform: capitalize;

}
.profile{
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.pic-con{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.icon{
    border-radius:100%;
    width: 30px;
}
.los{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
    margin-top: -10px;
    color: lightslategrey;
    
}
.para{
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    margin-left:200px ;
    padding: 30px 30px;
}
/* .footer{ */
    /* border: 1px solid red; */
/* } */
 /* .footer-head{ */
     /* margin: 10px; */
     /* display: flex;
     flex-wrap: wrap;
     flex-direction: column; */
 /* } */
 .f-head{
            /* display: flex; */ 
            flex-direction: column;
            color:white;
            /* width: 320px; */
            justify-content: center;
            align-items: center;
            font-weight: 400;
 }
        .f-head-up{
            padding: 10px;
            justify-content: center;
            align-items: center;
            display: flex;
            text-align: center;
            flex-direction: column;
        }
    .line{

        border: 0;
        width: 500px;
        height: 0;
        border-top: 1px solid white;
        border-bottom: -2px solid rgba(255, 255, 255, 0.3);
 }
 
 .footer-content{
     background: #000;
     padding-top: -10px;
     margin-top: 5vw;
     
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 .service-1{
    background-image: url('../../assets/Lineargradient2-660x322.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
 }

 /* Responsive css */

  /* navbar baar css  */
 @media screen and (max-width:600px){
    .right-head{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* position: relative; */
    }
    nav{
        border: 2px solid;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    .navbar{
    position: relative;
    top: -100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:100%;
    }
    .contact{
        display:flex;
        flex-direction: column;
        position: relative;
        top: -150px;
        border-radius: 10px;
        /* width: 100%; */

    }
    
 }
 /* css for form */
 @media screen and (max-width: 600px) {
    
    .mid-sec{
        display: flex;
        flex-wrap: wrap;
    }
    .mid-2-sec{
        flex-direction: column;
    }
    .mid-3-sec{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .content-box-1,.left-heading{
        color: #000;
    }
    .line-f{
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .inner-container{
        border: 2pzx solid green;
        
    }
    .testimonial{
        border: 2px solid black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .testi-inner{
        /* width: 100%; */
        /* display: contents; */
        /* flex-wrap: wrap; */
        border: 2px solid green;
    }
    .right-testi{
        border:2px solid green;
    }
 }
 /* css for featured */
 @media screen  and (max-width: 375px) {
    .featured-clientele-section{
        border: 2px solid red;
        display: flex;
        flex-direction: column;
    }
    .img-column{
        border: 2px solid green;
        /* flex-wrap: wrap; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .image-icons{
        width:10vw;
        border: 2px solid rgb(10, 8, 8);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
 }
