<nav>
    <div class="right-head"><h3 class="heading"> <a href="">Coursero The Learnig Platform</a> </h3> </div>
    <div class="nav-col">
    <div class="navbar">
        <a href="#">Home</a>
        <a href="">Services</a>
        <a href="">Areas Of Services</a>
        <a href="/contactus">Contact Us</a>
      </div>
    </div>
    <div class="contact">
        <p class="contact-no">818-555-6666</p>
    </div>
   
</nav>

<section>
    <div class="right-info-form">
        <div class="right-side-sec">
            <div class="inner-container">
                <div class="right-side-heading">
                  <h4 class="book"> Book A call</h4>
                  <h2 class="free">Get a Free Quote</h2>
                  <p class="pi">Please Fill out the form below to receive your complimentary quote</p>
                </div>
                <hr class="line-f"> 
                <div class="info-form">
                  <form action=".php" method="post">

                    <div class="col-line">
                        <div class="col-1">
                          <label for="name">Full Name*</label><br>
                          <input type="text"placeholder=" Enter Your Full Name" class="fname" id="fname" required>
                        </div>
                        <div class="col-1">
                          <label for="email">Email Address*</label><br>
                          <input type="email"placeholder=" Enter Your Email Address" class="lname" id="lname" required>
                        </div>
                        <div class="col-1">
                          <label for="number">Phone Number*</label><br>
                          <input type="no"placeholder=" Enter Your Phone Number" class="lnumber" id="lnumber" required>
                        </div>
                  </div>

                  <div class="col-line">
                        <div class="col-1">
                          <label for="text">Event Address*</label><br>
                          <input type="text"placeholder=" Enter Your Event Address" class="lnumber" id="lnumber" required>
                        </div>
                        <div class="col-1">
                          <label for="no">Event Zip Code*</label><br>
                          <input type="text"placeholder=" Enter Your Zip Code" class="fno" id="fno" required>
                        </div>
                        <div class="col-1">
                          <label for="name">Type Of Event*</label><br>
                        <input type="text"placeholder=" Enter Your Event Type" class="Ename" id="Ename" required>
                        </div>
                  </div>

                  <div class="col-line">
                        <div class="col-1">
                          <label for="date">Event Date*</label><br>
                          <input type="date"placeholder=" Enter Your Event Date" class="dname" id="dname" required>
                        </div>
                        <div class="col-1">
                          <label for="time">Event Start Time*</label><br>
                          <input type="time"placeholder=" Enter Your Event Start Time" class="Estart" id="Estart" required>
                        </div>
                        <div class="col-1">
                          <label for="time">Event End Time*</label><br>
                          <input type="time"placeholder=" Enter Your Event End Time" class="Eend" id="Eend" required>
                        </div>
                  </div>

                  <div class="col-line">
                        <div class="col-1">
                          <label for="no">Number of  Cars(approx)*</label><br>
                          <input type="number"placeholder=" Enter Your Number of Cars" class="cno" id="cno" required>
                        </div>
                        <div class="col-1">
                          <label for="number">Number of Guests(approx)*</label><br>
                          <input type="number"placeholder=" Enter Number of Guests" class="Gno" id="Gno" required>
                        </div>
                        <div class="col-1">
                          <label for="text">How did You Here About Us*</label><br>
                          <input type="text" class="Etext" id="Etext" required>
                        </div>
                  </div>

                  <div class="col-1-1">
                    <label for="text">Enter Your Message*</label><br>
                    <textarea type="text" placeholder="Enter Your Messages*" class="textaream" id="mtext" cols="169" rows="10" style="resize:horizontal; border-radius: 10px;"></textarea>
                  </div>
                  
                    <div class="btn-rs">
                       <br> <br>
                       <button class=" req-calls">Request For Call</button>
                    </div>

                  </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer">
    <div class="footer-head">
        <div class="footer-content">
          <div class="f-head"> 
            <div class="f-head-up">
              Auto Palladium Services, Inc. <br>
              The Highest Quality Valet Parking Service
              In Southern California</div>
            <hr class="line">
            <div class="f-head-up">
            (818) 555-6666 <br>
            TheLearningPatform&#64;Coursero.com</div>
          </div>
    </div>
    </div>
  </div>
